# Garmin Connect IQ build output
bin/
external-mir/
internal-mir/
gen/
# Screenshots / temp files
*.png
*.jpg
*.jpeg

# OS
Thumbs.db
.DS_Store

# Editor
.vscode/settings.json

# Local signing keys
developer_key
developer_key.der
