# Garmin Connect IQ build output
artifacts/
bin/
external-mir/
internal-mir/
gen/
*.iq
*.prg
*.prg.debug.xml
*-settings.json
*-fit_contributions.json
# Screenshots / temp files
*.png
*.jpg
*.jpeg

# OS
Thumbs.db
.DS_Store

# Editor
.vscode/settings.json

# Local signing keys
developer_key
developer_key.der
