<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting propertyKey="@Properties.carbsTargetGph" title="Kohlenhydrat-Ziel (g/h)">
        <settingConfig type="numeric" min="20" max="120" />
    </setting>

    <setting propertyKey="@Properties.doseG" title="Gel-Größe (g)">
        <settingConfig type="numeric" min="5" max="100" />
    </setting>

    <setting propertyKey="@Properties.reminderMode" title="Erinnerungs-Modus">
        <settingConfig type="list">
            <listEntry value="0">Auto (Defizit)</listEntry>
            <listEntry value="1">Festes Intervall</listEntry>
            <listEntry value="2">Kalorien-Auto (Uhrdaten)</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.fixedIntervalMin" title="Intervall (min)">
        <settingConfig type="numeric" min="5" max="60" />
    </setting>

    <setting propertyKey="@Properties.startDelayMin" title="Startverzögerung (min)">
        <settingConfig type="numeric" min="0" max="60" />
    </setting>

    <setting propertyKey="@Properties.maxSnoozeMin" title="Schlummer-Zeit (min)">
        <settingConfig type="numeric" min="1" max="15" />
    </setting>

    <setting propertyKey="@Properties.carbFractionPct" title="KH % der Kalorien">
        <settingConfig type="numeric" min="40" max="80" />
    </setting>
</settings>